<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>black-market-404</title>
</head>
<body class="form-body">
    <div class="logo-container">
        <img src="/favicon.ico" class="logo">
        <a href="/" class="root-link">black-market.io</a>
    </div>

    <div class="container">
        <h1 style="font-size:100px"><i class='bx bx-error'></i></h1>
        <h1>404-not-found</h1>
        <p><%=locals.url%></p>
    </div>
</body>
</html>